<div class="row">
    <div class="col-lg-11 col-xl-9 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1>Section2 - Assignment1</h1>
            </div>
            <div class="card-body">
                Profile Wizard solution
            </div>
            <div class="card-footer text-right">
                <!--The "/" represents the top level. So for all top (beginning) level routes, prefix "/".-->
                <a class="btn btn-primary" routerLink="/personaldetails">Start Wizard</a>
            </div>
        </div>
    </div>
</div>